{{ define "content" }}
<div class="post-warp archive">
    {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
    {{ $.Scratch.Delete "zodiacName" }}
    {{ if $.Site.Params.chineseZodiac }}
    {{ $zodiacName := (index $.Site.Data.ChineseZodiac (string (mod .Key 12))) }}
    {{ $.Scratch.Set "zodiacName" $zodiacName }}
    {{ end }}
    {{ $zodiacName := $.Scratch.Get "zodiacName" }}
    {{ $.Scratch.Set "year" .Key }}
    {{ $year := $.Scratch.Get "year" }}
    <h3 class="list-year">
        {{ $year }}{{ if $.Site.Params.chineseZodiac }}{{ replace (index $.Site.Data.SVG $zodiacName) "icon" "icon chinese-zodiac" | safeHTML }}{{ end }}
    </h3>

    {{ range .Pages }}
    <article class="archive-item">
        <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
        <span class="archive-item-date">
            {{ .Date.Format "Monday, January 2, 2006" }}
        </span>
    </article>
    {{ end }} {{ end }}
    {{ partial "paginator.html" . }}
</div>
{{end }}